:host {
  --navbar-height: 56px;
  --padding-content: 30px;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  height: var(--navbar-height);
}

.content {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1110;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .spinner-box {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .message {
        position: absolute;
        top: 61px;

        display: flex;
        flex-direction: column;
        align-items: center;

        & > h3 {
          color: #8c8b96;
          margin: 0;
        }

        & > span {
          color: #8c8b96;
          font-size: 12px;
        }
      }
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: -1;
    }
  }
}
